#sidebar{
    height: 100%;
    background-color: #144272;
}

.menu{
    margin: 15px;
}

a{
    text-decoration: none;
    color: black
  }

  #sidebar p{
    color: rgba(255,255,255,.4);
    padding: 0 1rem;
    font-weight: 800;
    font-size: .75rem;
  }